
:root {
  --menu-background-color: #050B2F;
  --menu-highlight-color: #550;
  --menu-anchor-color: #DDF;
  --menu-item-color: #AA9;
  --menu-selected-color: #EE5;
  --menu-icon-color: var(--menu-item-color);
  
  --page-background-color: #899;
  --title-label-color: var(--field-label-color);
  --tree-branch-indentation: 12px;
  --tree-detail-margin: 35px;
  --field-height: 2rem;
  --field-background-color: transparent;
  --field-delete-color: #822;
  --tree-line-color: #88A;
  --field-value-color: #222;
  --field-label-color: #235;
  --field-border-color: #DDE;
  --field-edit-background-color: #E1E2FF;
  --field-bottom-line-color: #E1E2FF;
  --button-color: #110;
  --button-border-color: #886;
  --button-border-radius: 10px;
  --button-background-color: #AA9;
  --button-margin-left: 0.5rem;
  --button-padding: 1rem 1.5rem;
  --button-font-weight: 200;
}
body {
  background-color: var(--page-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
